// Global colors list
$color-base: #00ACFF;
$color-base-medium: #1190CD;
$color-base-dark: #094E6E;
$color-white: #FFF;
$color-black-opaque: rgba(0, 0, 0, 0.12);
$color-seashell: #F1F1F1;
$color-alabaster: #F9F9F9;
$color-stardust: #999;
$color-gunsmoke: #878787;
$color-mercury: #E5E5E5;
$color-light: #FAFAFA;
